{% extends 'layouts/main.html' %}
{% block title %}Add to basket: {{ product.name }} {% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}


{% macro render_field(field) %}
	<dt {% if field.name[0:8] == "heading-" %}class="heading" {% endif %}>{{ field.label }}</dt>
	<dd {% if field.name[0:8] == "heading-" %}class="heading" {% endif %}>
		{{ field(**kwargs)|safe }}
		{% if field.description %}
			<p class="field-description">{{field.description}}</p>
		{% endif %}
		{% if field.errors %}
			<ul class=errors>
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</dd>
{% endmacro %}

<section class="mainContent full-width clearfix">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				<form class="add-to-basket-form" action="/cart" method="POST">
					<div><input type="hidden" name="product_id" value="{{ product.id }}" /></div>

					<dl>
					{% for field in form %}
						{{ render_field(field) }}
					{% endfor %}
					</dl>

					<p class="add-to-basket-button-container">
						<button class="btn btn-default">Add to basket</button>
					</p>
				</form>

			</div>
		</div>
	</div>
</section>


{% endblock %}
