{% extends 'layouts/main.html' %}
{% block title %}Shopping basket{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}

<section class="mainContent full-width clearfix">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				<table class="shopping-basket">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Product name</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						{% for item_id in basket %}
							{% set product = products[basket[item_id]["product_id"]] %}
							<tr>
								<td>
									<form action="/cart" method="POST">
										<input type="hidden" name="delete_item_id" value="{{ item_id }}" />
										<button>X</button>
									</form>
								</td>

								{# TODO:WV:20170626:These images take ages to load.  Would be good to, at some point, generate some smaller ones for inclusion here #}
								<td><img src="{{ product.images[0].src }}" alt="Image"></td>

								<td>{{ product.name }} {% if names[item_id] %}<br /><span class='name-associated-with-basket-item'>{{ names[item_id] }}</span> {% endif %}</td>
								<td>{{ (product.price|float + basket[item_id].price_adjustments|float)|currency }}</td>
							</tr>
						{% endfor %}
					</tbody>

					<tfoot>
						<tr>
							<td colspan="3">Total</td>
							<td>{{ total_price|currency }}</td>
						</tr>
					</tfoot>

				</table>

				<div class="stripe-form">
					<form action="/processpayment" method="POST">
					  <script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="{{ stripe_publishable_key }}"
					    data-amount="{{(total_price | float) * 100}}"
					    data-name="blue{shift} Coding"
					    data-description="Creating coding for creative kids"
					    data-image="https://s3.amazonaws.com/stripe-uploads/acct_17Qz37HP8IoqDW11merchant-icon-1452255057982-happy128.png"
					    data-locale="auto"
					    data-currency="gbp">
					  </script>
					</form>
				</div>

			</div>
		</div>
	</div>
</section>


{% endblock %}
