{% extends 'layouts/main.html' %}
{% block title %}Checkout 1{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}

{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<section class="mainContent full-width clearfix">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				{% if total_price == 0 %}
					<h3>One more thing</h3>
					<p>Please provide us with a few pieces of contact information before we can confirm your order.</p>
					{% set dest_url = 'processpayment' %}
				{% else %}
					<h3>Checkout stage 1 - billing details</h3>
					<p>Please provide us with a few pieces of billing information before we begin the payment process.</p>
					{% set dest_url = 'checkout' %}
				{% endif %}

				<form class="checkout-form" action="/{{ dest_url }}" method="POST">
					<dl>
					{% for field in form %}
						{{ render_field(field) }}
					{% endfor %}
					</dl>

					{% if total_price == 0 %}
						<p class="proceed-to-payment-button-container"><button class="btn btn-default">Confirm order</button></p>
					{% else %}
						<p class="proceed-to-payment-button-container"><button class="btn btn-default">Proceed to payment</button></p>
					{% endif %}
				</form>

			</div>
		</div>
	</div>
</section>


{% endblock %}
