{% extends 'layouts/main.html' %}
{% block title %}Classes{% endblock %}
{% block content %}

<section class="pageTitleSection">
  <div class="container">
	<div class="pageTitleInfo">
	  <h2>Our Classes</h2>
	  <ol class="breadcrumb">
		<li><a href="index-v1.html">Home</a></li>
		<li class="active">All Courses</li>
	  </ol>
	</div>
  </div>
</section>

<section class="mainContent full-width clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 filters">

				<span class="filters-label">Filter</span>

				<div class="dropdown classes-filter" data-filtername="dates" data-defaultvalue="" data-defaultlabel="All dates">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="selected-item" data-filtervalue=""></span>
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDates">
				  	<li><a href="#" class="default-option"></a></li>
				  	<li role="separator" class="divider"></li>
					<li><a href="#" data-filtervalue="07-2017">July</a></li>
					<li><a href="#" data-filtervalue="08-2017">August</a></li>
					<li><a href="#" data-filtervalue="09-2017">September</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#" data-filtervalue="weekly">Ongoing weekly classes</a></li>
				  </ul>
				</div>


				<div class="dropdown classes-filter" data-filtername="ages" data-defaultvalue="" data-defaultlabel="All ages">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAges" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="selected-item" data-filtervalue=""></span>
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuAges">
				  	<li><a href="#" class="default-option"></a></li>
				  	<li role="separator" class="divider"></li>
					<li><a href="#" data-filtervalue="5-6">Age 5 - 6</a></li>
					<li><a href="#" data-filtervalue="6-8">Age 6 - 8</a></li>
					<li><a href="#" data-filtervalue="8-10">Age 8 - 10</a></li>
					<li><a href="#" data-filtervalue="10-12">Age 10 - 12</a></li>
					<li><a href="#" data-filtervalue="12-14">Age 12 - 14</a></li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				{% for product in products %}
					{% set colorNumber = loop.index % 5 %}
					<div class="media courseList couresListPage">
						<a class="media-left border-color-{{ colorNumber }}" href="course-single-left-sidebar.html">
							<img class="media-object" src="https://km362.infusionsoft.com/cart/pimg.jsp?i={{ product.id }}" alt="Image">

							{# TODO:WV:20170506:Format currency properly #}
							<span class="sticker bg-color-{{ colorNumber }}">&pound;{{product.product_price|round|int}}</span>
						</a>
						<div class="media-body">
							<h3 class="media-heading"><a href="course-single-left-sidebar.html" class="color-{{ colorNumber }}">{{product.product_name}}</a></h3>

							<!--
							WV:20170511:Commented out because we can't easily extract the age and time from Infusionsoft at the moment
							<ul class="list-inline">
								<li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
							</ul>
							-->

							{{product.product_desc|safe}}
							<ul class="list-inline btn-yellow btnPart">
								<li><a href="https://km362.infusionsoft.com/app/manageCart/addProduct?productId={{ product.id }}" target="_blank" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>

								<!--
								WV:20170511:Commented out because we don't actually have any more information for this to link to at the moment
								<li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
								-->
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


{% endblock %}
