{% extends 'layouts/main.html' %}
{% block title %}Our Classes{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}


<section class="mainContent full-width clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 filters">

				<span class="filters-label">Filter</span>

				<div class="dropdown classes-filter" data-filtername="dates" data-defaultvalue="" data-defaultlabel="All dates">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="selected-item" data-filtervalue=""></span>
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDates">
				  	<li><a href="#" class="default-option"></a></li>
				  	<li role="separator" class="divider"></li>
					{% for date in dates %}
					<li><a href="javascript:void(0)" data-filtervalue="{{ date }}">{{ date }}</a></li>
					{% endfor %}
				  </ul>
				</div>


				<div class="dropdown classes-filter" data-filtername="ages" data-defaultvalue="" data-defaultlabel="All ages">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAges" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="selected-item" data-filtervalue=""></span>
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuAges">
				  	<li><a href="javascript:void(0)" class="default-option"></a></li>
				  	<li role="separator" class="divider"></li>
					{% for age in ages %}
					<li><a href="javascript:void(0)" data-filtervalue="{{ age }}">{{ age }}</a></li>
					{% endfor %}
				  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				{% for product in products %}

					{# color number must be between 1 and 6 - map to maximum age #}
					{% set colorNumber = product.max_age - 5 if product.max_age and product.max_age < 12 else 6  %}
					<div class="media courseList couresListPage">
						<a class="media-left border-color-{{ colorNumber }}" href="course-single-left-sidebar.html">
							<img class="media-object" src="{{ product.image }}" alt="Image">

							{# TODO:WV:20170506:Format currency properly #}
							<span class="sticker bg-color-{{ colorNumber }}">&pound;{{product.product_price|round|int}}</span>
						</a>
						<div class="media-body">
							<h3 class="media-heading"><a href="course-single-left-sidebar.html" class="color-{{ colorNumber }}">{{product.product_name}}</a></h3>

							<ul class="list-inline">
								<li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age: {{ product.min_age|string+" to" if product.min_age else "" }} {{ product.max_age if product.max_age else "Adults" }}</li>
								{% if product.times %}
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ product.times|join(', ') }}</li>
								{% endif %}
							</ul>

							{{product.product_desc|safe}}
							<ul class="list-inline btn-yellow btnPart">
								<li><a href="https://km362.infusionsoft.com/app/manageCart/addProduct?productId={{ product.id }}" target="_blank" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>

								<!--
								WV:20170511:Commented out because we don't actually have any more information for this to link to at the moment
								<li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
								-->
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


{% endblock %}
