{% extends 'layouts/main.html' %}
{% block title %}faqs{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}


    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="accordionCommon hello" id="faqAccordion">
              <div class="panel-group" id="accordionFaq">
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-aa">
                    <span>General FAQs</span>
                    <span class="iconBlock"><i class="fa fa-chevron-down"></i></span>
                  </a>
                  <div id="collapse-aa" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ol>
                        <li>
                          <b>Can I learn to code in a day?</b> <br/>
                          You can learn a lot about code and have an appreciation of code, but coding, like anything else takes practice and dedication to reach a level of mastery.
                        </li>
                        <li>
                          <b>Do you offer camps during autumn, winter, spring and summer school holidays?</b> <br/>
                          Yes! We offer a few seasonal workshops over the year like Half-term, Easter and Summer camps.Check our courses page for the newest information.
                        </li>
                        <li>
                          <b>How long have you been running coding camps?</b> <br/>
                          blue{shift} has been running coding camps since 2013 in our Nothing Hill Studio. We started our first After School Club at Chepstow House.                        </li>
                        <li>
                          <b>Where is your main office located?</b> <br/>
                          We are a digital company and work from 2 different locations in Notting Hill in W11 and W2.
                        </li>
                        <li>
                          <b>Do you accept childcare vouchers?</b> <br/>
                          Unfortunately, no.
                        </li>
                        <li>
                          <b>What age group do you teach?</b> <br/>
                          We teach children aged 5 - 12.
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-2" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-bb">
                    <span>Camp FAQs</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-bb" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ol>
                        <li>
                          <b>Which level do I sign my child up for?</b> <br/>
                          Each of our courses have a recommended age group. However, if your child has done coding before, they might be ready to go to a more advanced class. We suggest to follow the age groups, and call us for advice if your child has more experience that the age group suggests.
                        </li>
                        <li>
                          <b>Can I book for a partial course?</b> <br/>
                          Yes! Although we do recommend signing up for a full course, each of our days are designed to be stand alones. Email hello@blueshiftcoding.com and we will sort out your booking as soon as possible.
                        </li>
                        <li>
                          <b>My child is a beginner, should I still sign up?</b> <br/>
                          We recommend that children should have started reception since they will have had enough exposure to reading. Most of our intermediate courses are suitable for beginners though we do recommend that students have some familiarity with touch typing and/or Scratch. We have some recommended touch typing skills on the resources section of our website.                        </li>
                        <li>
                          <b>Should my child bring his own laptop?</b> <br/>
                          We operate a BYOL policy (bring your own laptop). It’s easier to keep up student’s work and we have limited laptops available for rent. If you require to rent one, you can do it when booking the course.
                        </li>
                        <li>
                          <b>My child doesn’t have a laptop to use at classes, is an Ipad a suitable solution?</b> <br/>
                          Unfortunately the programs and tools we use at classes do not run on the iPad at the moment. We use iPads only for the Mini Coders class.
                        </li>
                        <li>
                          <b>I’m having issues booking online, what should I do?</b> <br/>
                            We apologise if you have experienced any issues with our booking system. The first thing we suggest to do that normally helps is to clear  your browser’s cookies (go to settings -> clear cookies and browsing data). If after cleaning data you’re still seeing the wrong information at checkout, please email us to hello@blueshiftcoding.com stating your child’s name, age, the course you would like to book, and the date of the course. We will secure the place, offer you an alternative payment method, and send you a registration form.
                        </li>
                        <li>
                          <b>How can I keep on track of the work my child is doing at classes?</b> <br/>
                          We always hand out lesson plans for any of the classes we run. Students are encourage to save their work onto their laptops as they go. We are also sharing the students’ work and updating the parents on their child’s progress throughout the day on Class Dojo, an app which allows parents to communicate with the teachers and see photos of their child’s work.
                        </li>
                        <li>
                          <b>Do I need to bring a lunch?</b> <br/>
                          The students should pack a lunch, we will provide snacks during the day. Please make it nut free!
                        </li>
                        <li>
                          <b>Who should I contact if I have any other queries?</b> <br/>
                          Please contact us at hello@blueshiftcoding and one member of our team will get in touch as soon as possible.
                        </li>
                        <li>
                          <b>What is a typical day at camp?</b> <br/>
                          <ul>
                            <li>
                              9am: Early drop off begins.
                            </li>
                            <li>
                              9:45 – 10am: Welcome Campers! Sign in, wave your adults goodbye and buckle up for a day of fun.
                            </li>
                            <li>
                              10.00am: Kick off with ice-breaker games and get to know each other – we guarantee you’ll get to laugh at your teachers and their silly antics!
                            </li>
                            <li>
                              10:15am: Introduction to our activity for the day. Let’s get coding!
                            </li>
                            <li>
                              11:15am: Fruit snack and water.
                            </li>
                            <li>
                              11.30am: Back to Coding, building, designing and creating.
                            </li>
                            <li>
                              12:30pm: Lunch box time – grab your packed lunch, fuel up and re-focus that brain of yours.
                            </li>
                            <li>
                              1:00pm: Outdoor games – let’s get physical (we may even re-enact some of the games we make on our laptops!!)
                            </li>
                            <li>
                              1:30pm: Back to class – let’s build robots!
                            </li>
                            <li>
                              2:15pm: Short break
                            </li>
                            <li>
                              2:30pm: Finish off building and engineering - it is time to program the robots!
                            </li>
                            <li>
                              3:30pm: Show and tell – you’ll get the chance to impress your friends with your fine handiwork, attention to detail and creativity.
                            </li>
                            <li>
                              4pm: Pack your bags, go home and chill out after a day of challenging yourself to the max!
                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-3" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-cc">
                    <span>Programs and equipment FAQs</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-cc" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ol>
                        <li>
                          <b>Which laptop should I buy for my child?</b> <br/>
                          Choosing a laptop for your child can be a daunting task for any parent.
                          <br/>
                          Here we give our recommendations on laptops which are suitable for children, and which we use in our clubs and camps ourselves!
                          <br/>
                          <b>Chromebooks:</b>
                          <br/>
                          Chromebooks are lightweight with long battery lives. What makes them great for kids is the parental controls where you can create supervised accounts to track or limit online activity.
                          <br/>
                          They use Google Drive for storage so everything is cloud based, and they use Android apps by Adobe, Microsoft etc.
                          <br/>
                          It should be noted that not all Chromebooks support Android apps, a full list of the ones that do can be found here.
                          <br/>
                          These aren’t ideal for playing games such as Minecraft due to them being app based.
                          <br/>
                          <a href="https://www.google.com/intl/en_uk/chromebook/find/">Click here to buy.</a>
                          <br/>


                          <b>HP Stream:</b>
                          <br/>
                          The HP Stream is lightweight and ideal for computing on the go. It has a dual-core Intel Celeron processor and runs Windows 10.
                          <br/>
                          These laptops are the perfect size and speed for children and are a great first laptop. Not to mention they come in some fun colours!
                          <br/>
                          <a href="http://store.hp.com/UKStore/Merch/Product.aspx?id=X9W65EA&opt=ABU&sel=NTB">Click here to buy.</a>
                          <br/>

                          <b>HP Pavilion:</b>
                          <br/>
                          If your child is a little older, an HP Pavilion may be your best bet. If they are interested in coding and in particular, creating and playing games such as Minecraft, this laptop is great.
                          <br/>
                          This laptop has an Intel Premium Processor, 1 TB hard disc and HP Audio Boost speakers.
                          <br/>
                          <a href="http://store.hp.com/UKStore/Merch/List.aspx?sel=NTB&err=1a">Click here to buy.</a>
                          <br/>
                          <br/>
                          <b>A note for Minecraft users:</b>
                          <br/>
                          When playing and modding Minecraft, your laptop needs to have specific specifications so it pays to check these before purchasing a laptop.
                          <br/>
                          Minimum Requirements:
                          <br/>
                          CPU: Intel Pentium D or AMD Athlon 64 (K8) 2.6 GHz
                          <br/>
                          RAM: 2GB
                          <br/>
                          GPU (Integrated): Intel HD Graphics or AMD (formerly ATI) Radeon HD Graphics with OpenGL 2.1
                          <br/>
                          GPU (Discrete): Nvidia GeForce 9600 GT or AMD Radeon HD 2400 with OpenGL 3.1
                          <br/>
                          HDD: At least 200MB for Game Core and Other Files
                          <br/>
                          Java 6 Release 45
                          <br/>
                          Recommended Requirements:
                          <br/>
                          CPU: Intel Core i3 or AMD Athlon II (K10) 2.8 GHz
                          <br/>
                          RAM: 4GB
                          <br/>
                          GPU: GeForce 2xx Series or AMD Radeon HD 5xxx Series (Excluding Integrated Chipsets) with OpenGL 3.3
                          <br/>
                          HDD: 1GB
                          <br/>
                          Latest release of Java 8 from java.com
                          <br/>
                          Software Requirements:
                          <br/>
                          Minecraft Release 1.6 or newer. Older versions will need to be updated to current versions
                          <br/>
                          Please note that some users experience issues playing Minecraft while using a mismatched version of Java for their operating system (32 or 64 bit), while using certain versions of Java 7, or while multiple versions of Java are installed
                          <br/>
                          To read more, there is a great article by Tech Age Kids which also has some great insights!
                          <br/>
                          <a href="http://www.techagekids.com/p/minecraft.html">Read it here.</a>
                        </li>
                        <li>
                          <b>Are there any specific programs I should install in advance?</b><br>
                          Our Junior students will need Scratch on their laptops and we also recommend to have a bookmark to the Scratch website (sometimes we do work online). For Minecraft Students, you should install Minecraft and LearnToMod. You should also install Google Chrome browser.
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-4" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-dd">
                    <span>After schools/Workshops FAQs</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-dd" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ol>
                        <li>
                          <b>I am interested in one of your after-school clubs you run at a certain school, how can I join?</b><br/>
                          You have to check if we are running a coding club at your school. Unfortunately, you are not able to join the club if your child is from a different school. If you would like for us to run a coding club at your school, contact us and we will try to sort it out.
                        </li>
                        <li>
                          <b>Do you teach at schools?</b><br/>
                          Yes! We teach classes that address the New National Curriculum for Computing during the day. We also teach after school clubs at schools. Visit our Schools page to see a full list of schools we work with.
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <aside>
              <div class="panel panel-default eventSidebar">
                <div class="panel-heading bg-color-1 border-color-1">
                  <h3 class="panel-title">Ask Questions?</h3>
                </div>
                <div class="panel-body">
                  <div class="homeContactContent">
                    <form action="#" method="POST" role="form">
                      <div class="form-group">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control border-color-1" id="exampleInputEmail1" placeholder="First name">
                      </div>
                      <div class="form-group">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" class="form-control border-color-2" id="exampleInputEmail2" placeholder="Email address">
                      </div>
                      <div class="form-group">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <textarea class="form-control border-color-4" placeholder="Write message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary btn-Full">Send Message</button>
                    </form>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
