{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block page_header %}{% endblock %} {% block content %}

<!-- BANNER -->
<section class="pageTitleSection titleBackground">
  <div class="container">
    <div class="pageTitleInfo">
      <h2 class="titleText">Launching <br/> creative ideas</h2>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix homepage-color-blocks">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6 block">
        <div class="media eventContent bg-color-4">

          <div class="media-body" style="width:100%;">
            <h3 class="media-heading"><a href="single-event-left-sidebar.html">Summer <br/> Camps</a></h3>

          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 block">
        <div class="media eventContent bg-color-3">
          <div class="media-body" style="width:100%;">
            <h3 class="media-heading"><a href="{{ url_for('news') }}">Latest <br/> News</a></h3>

          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 block">
        <div class="media eventContent bg-color-2">
          <div class="media-body" style="width:100%;">
            <h3 class="media-heading"><a href="single-event-left-sidebar.html">Parent <br/> Workshops</a></h3>

          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 block">
        <div class="media eventContent bg-color-5">
          <div class="media-body" style="width:100%;">
            <h3 class="media-heading"><a href="single-event-left-sidebar.html">We're <br/> Hiring</a></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix">
  <div class="row">
    <div class="col-sm-6 col-xs-12 block no-padding">
      <div class="media eventContent bg-color-5">
        <div class="media-body whats-code" style="width:100%;">
          <h3 class="media-heading whats-code-heading">
            <a href="single-event-left-sidebar.html">what's code <br/> all about</a></h3>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 block no-padding">
      <div class="media eventContent bg-color-3">
        <div class="media-body keep-up-to-date">
          <div class="col-md-9">
            <h3 class="media-heading"><a href="single-event-left-sidebar.html">keep up-to-date</a></h3>
            <p>
              For all the latest blue{shift} updates, follow us on twitter and Instagram, find us on Facebook or leave your email address to sign up for our newsletter.
            </p>
            <p>
              Sign up to receive updates on our progress.
            </p>
            <div class="footerInfo">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email address" aria-describedby="basic-addon21">
                <button type="submit" class="input-group-addon" id="basic-addon21">Go!</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix" style="padding-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="why-us">
          <h2>Reasons to choose blue{shift}</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 block right-border">
        <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
        <p>Lightbulb</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac dolor fringilla, maximus libero ut, pretium mi. Sed pharetra molestie pellentesque.
        </p>
      </div>
      <div class="col-md-3 block right-border">
        <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
        <p>Diamond</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac dolor fringilla, maximus libero ut, pretium mi. Sed pharetra molestie pellentesque.
        </p>
      </div>
      <div class="col-md-3 block right-border">
        <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
        <p>Spanner</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac dolor fringilla, maximus libero ut, pretium mi. Sed pharetra molestie pellentesque.
        </p>
      </div>
      <div class="col-md-3 block">
        <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
        <p>Cog</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac dolor fringilla, maximus libero ut, pretium mi. Sed pharetra molestie pellentesque.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
