{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}

<!-- BANNER -->
<section class="pageTitleSection titleBackground">
  <div class="container">
   <div class="pageTitleInfo">
      <h2 class="titleText">Launching <br/> creative ideas</h2>
    </div>
  </div>
</section>

    <section class="mainContent full-width clearfix coursesSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6 block">
            <div class="media eventContent bg-color-1">

              <div class="media-body" style="width:100%;" style="width: 100%;">
                <h3 class="media-heading"><a href="single-event-left-sidebar.html">Summer <br/> Camps</a></h3>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 block">
            <div class="media eventContent bg-color-2">
              <div class="media-body" style="width:100%;">
                <h3 class="media-heading"><a href="{{ url_for('news') }}">Latest <br/> News</a></h3>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 block">
            <div class="media eventContent bg-color-3">
              <div class="media-body" style="width:100%;">
                <h3 class="media-heading"><a href="single-event-left-sidebar.html">Parent <br/> Workshops</a></h3>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 block">
            <div class="media eventContent bg-color-4">
              <div class="media-body" style="width:100%;">
                <h3 class="media-heading"><a href="single-event-left-sidebar.html">We're <br/> Hiring</a></h3>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 block">
            <div class="media eventContent bg-color-5">
              <div class="media-body" style="width:100%;">
                <h3 class="media-heading"><a href="single-event-left-sidebar.html">Praesent quis felis non.</a></h3>
                <ul class="list-unstyled">
                  <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <ul class="list-inline btn-purple">
                  <li><a href="single-event-left-sidebar.html" class="btn btn-primary">read more</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 block">
            <div class="media eventContent bg-color-6">
              <div class="media-body" style="width:100%;">
                <h3 class="media-heading"><a href="single-event-left-sidebar.html">Fusce feugiat diam ac metus.</a></h3>
                <ul class="list-unstyled">
                  <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                  <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <ul class="list-inline btn-pink">
                  <li><a href="single-event-left-sidebar.html" class="btn btn-primary">read more</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
