{% extends 'layouts/main.html' %}
{% block title %}Checkout 2{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}

{% macro render_field(field) %}
	<span style="display:none;">{{ field(**kwargs)|safe }}</span>
{% endmacro %}


<section class="mainContent full-width clearfix">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">

				<h3>Checkout stage 2 - Payment</h3>

				<p>Please check the total below, and then hit 'pay with card' if you are happy.</p>

				<p>Total to pay: {{ total_price|currency }} </p>
				<form id="payment_form" class="checkout-form" action="/processpayment" method="POST">
					<div>
						<input type="hidden" name="stripeToken" value="" />
						{% for field in form %}
							{{ render_field(field) }}
						{% endfor %}
					</div>

					<p>
						<input type="checkbox" id="checkbox_terms" /> <label for="checkbox_terms">I agree to Blueshift's <a href="http://app.blueshiftcoding.com/post/3720/terms-and-conditions/" target="_blank">Terms and Conditions</a></label>
					</p>

					<script src="https://checkout.stripe.com/checkout.js"></script>
					<button id="btn_payWithStripe" class="btn btn-primary disabled" key="{{ stripe_publishable_key }}" amount="{{ (total_price | float) * 100 }}">Pay with card</button>

				
				</form>

			</div>
		</div>
	</div>
</section>


{% endblock %}
