{% extends 'layouts/main.html' %}
{% block title %}Classes{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Classes Page</h1>
</div>

<style>
	.products-list > li {
		border-bottom:1px solid black;
		margin-bottom:20px;
		padding-bottom:20px;
	}
</style>

<ul class="products-list">
{% for product in products %}
	<li>
		<dl>
			<dt>Name</dt>
			<dd>{{product.product_name}}</dd>
			<dt>Description</dt>
			<dd>{{product.product_desc|safe}}</dd>
			<dt>Price</dt>

			{# TODO:WV:20170506:Format currency properly #}
			<dd>&pound;{{product.product_price}}</dd>
		</dl>

		{# TODO:WV:20170506:This link format reliable? #}
		<a target="_blank" href="https://km362.infusionsoft.com/app/storeFront/showProductDetail?productId={{product.id}}">Book now</a>
	</li>
{% endfor %}
</ul>


{% endblock %}
