{% extends 'layouts/main.html' %}
{% block title %}Team{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}

<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle text-center">
          <h2>
            <span class="shape shape-left bg-color-4"></span>
            <span>Our Core Team</span>
            <span class="shape shape-right bg-color-4"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="teamContent teamAdjust">
          <div class="teamImage">
            <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
            <div class="maskingContent">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="teamInfo teamTeacher">
            <h3><a href="teachers-details.html">Amanda Stone</a></h3>
            <p>English Teacher</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="teamContent teamAdjust">
          <div class="teamImage">
            <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-2.jpg" alt="img" class="img-circle img-responsive">
            <div class="maskingContent">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="teamInfo teamTeacher">
            <h3><a href="teachers-details.html">Amanda Stone</a></h3>
            <p>English Teacher</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="teamContent teamAdjust">
          <div class="teamImage">
            <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-3.jpg" alt="img" class="img-circle img-responsive">
            <div class="maskingContent">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="teamInfo teamTeacher">
            <h3><a href="teachers-details.html">Amanda Stone</a></h3>
            <p>English Teacher</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
