{% extends 'layouts/main.html' %}
{% block title %}who we are{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}



    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix" style="padding-bottom: 100px;">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 block">
            <i class="fa fa-rocket fa-5x color-5" aria-hidden="true"></i>
            <div class="why-us">
              <h4>Our Mission</h2>
            </div>
            <p>
             Our aim is  to enable and encourage children aged 5 to 16 to be digital creators and support their parents and teachers. We want to inspire all children, whether they’re naturally inclined to learn to code or not, about the things they can make and do with code.
              </p>          </div>
          <div class="col-md-4 block right-border left-border">
            <i class="fa fa-user-circle-o fa-5x color-3" aria-hidden="true"></i>
            <div class="why-us">
              <h4>our vision</h4>
            </div>
            <p>
              We believe that if taught with a focus on creativity, learning to code will not only equip children with the technical skills they need to excel in the future, but will also teach them critical problem solving skills. We encourage children to problem solve and realise their own ideas, helping to prepare them for a rapidly changing world which requires adaptive and innovative thinkers.
              </p>
          </div>
          <div class="col-md-4 block">
            <i class="fa fa-superpowers fa-5x color-2" aria-hidden="true"></i>
            <div class="why-us">
              <h4>our services</h4>
            </div>
            <p>
              blue{shift} is West London’s premier provider of coding and robotics instruction and teaching and assessment materials. We were started in 2013  with the aim of teaching children aged 5 to 16 a creative approach to coding.

We run after-school clubs at a growing roster of schools, workshops and camps. Our courses have looked at everything from designing wearables to 3D printing to creating VR experiences with code.
              </p>
          </div>
        </div>
      </div>
    </section>

    <section class="mainContent full-width clearfix" style="padding:0">
      <div class="row">
        <div class="col-sm-4 col-xs-12 block no-padding">
          <div class="media eventContent bg-color-5">
            <div class="media-body story" style="width:100%;">

            </div>
          </div>
        </div>
        <div class="col-sm-8 col-xs-12 block no-padding">
          <div class="media eventContent bg-color-8">
            <div class="media-body keep-up-to-date">
              <div class="col-md-9">
                <div class="why-us">
                  <h1 style="text-align: left">
                    the blue{shift} story
                  </h1>
                </div>
                <p>
                 
                    In 2013, I was approached by some mums who were keen for their children to learn to code. </p>
<p>
I had been teaching computer-based design at the university level in London and had children of my own. I was also passionate about empowering children to create with code as opposed to simply consuming technology through yet another device.
                  </p>
                  <p>
Our first term started with 8 children, in my garden. Those 8 children all re-enrolled and we started running after school clubs at a girls’ school. We were soon teaching over 300 children per week at 10 schools in London and running camps every holiday and half-term and have continued to grow, extending our work to the state sector and collaborating with community trusts.
                  </p><a href ="http://old.blueshiftcoding.com/the-blueshift-story/"> <h4>>> read more...</a></h4>
                </p>
              </div>
              <div class="col-md-3">
                <img src="http://old.blueshiftcoding.com/wp-content/uploads/2017/07/keep-up-to-date-icon.png" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mainContent full-width clearfix testimonialArea">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="why-us">
              <h1>
                meet the team
              </h1>
            </div>
          </div>
        </div>
        <div class="row bio-row">
          <div class="col-md-4 ">
            <div class="teamImage pull-right">
              <img src="http://old.blueshiftcoding.com/wp-content/uploads/2014/11/HeatherCR.jpg" alt="img" class="img-circle img-responsive">
              <div class="maskingContent">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 bio-text">
            <h4 class="bio-name">Heather Lyons</h4>
            <h4 class="bio-title">Founder &amp; Director</h4>
              <p>
                Heather has worked in digital media since 1999. She was bitten by the tech bug

                early on and excitedly began building apps and websites as soon as she left school.

                Heather has taught computer-based design at the Architectural Association, has a

                Masters degree in Architecture from Princeton University and has done further

                advanced study in Computer Science at UCL. Heather also has 3 young children.
              </p>
            </div>
          </div>
          <div class="row bio-row">
            <div class="col-md-4 ">
              <div class="teamImage pull-right">
                <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
                <div class="maskingContent">
                  <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-8 bio-text">
              <h4 class="bio-name">Jordan Wu</h4>
              <h4 class="bio-title">Content Technologist &amp; Educator</h4>
                <p>
                  Jordan Wu is a digital artist and has a BsC in Digital arts and Computing. He works  as the Creative Technologist and Educator for blue{shift}. Jordan has a keen interest in virtual reality, developing new ways for immersive experiences, through programs and games.
                </p>
              </div>
            </div>
            <div class="row bio-row">
              <div class="col-md-4 ">
                <div class="teamImage pull-right">
                  <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
                  <div class="maskingContent">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-8 bio-text">
                <h4 class="bio-name">Laura Satkausaite</h4>
                <h4 class="bio-title">Events &amp; Office Co-ordinator</h4>
                  <p>
                    Laura has completed Media and Communications degree at Bournemouth University, and now works as an Office and Events Coordinator. She has experience in events organising and sales, and reviews books on her free time.
                  </p>
                </div>
              </div>
              <a class="bio-name" style="text-transform: underline;" href="#"> >> Learn more about our teachers</a>
              <!-- <div class="row bio-row" style="border-bottom:none;">
                <div class="col-md-4 ">
                  <div class="teamImage pull-right">
                    <img src="http://themes.iamabdus.com/kidz/1.1/img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
                    <div class="maskingContent">
                      <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 bio-text">
                  <h4 class="bio-name">Heather Lyons</h4>
                  <h4 class="bio-title">Founder &amp; Director</h4>
                    <p>
                      Heather has worked in digital media since 1999. She was bitten by the tech bug

                      early on and excitedly began building apps and websites as soon as she left school.

                      Heather has taught computer-based design at the Architectural Association, has a

                      Masters degree in Architecture from Princeton University and has done further

                      advanced study in Computer Science at UCL. Heather also has 3 young children.
                    </p>
                  </div>
                </div> -->
        </div>
      </div>
    </section>

    <section class="mainContent full-width clearfix testimonialSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 testimonial text-center">
            <h3 style="color: #ffffff;">
              “My son says Blueshift’s Minecraft camp was the best thing he has ever done, ever! <br>
                He now has his own YouTube channel"<br>
            </h3>
            <br>
            <h3 style="color: #f5c644;">Andrew Chatterley</h3>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
