{% extends 'layouts/main.html' %}
{% block title %}who we are{% endblock %}
{% block page_header %}{{ super() }}{% endblock %}
{% block content %}



    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix" style="padding-bottom: 100px;">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 block right-border">
            <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
            <div class="why-us">
              <h4>Reasons to choose blue{shift}</h2>
            </div>
            <p>
              Our aim is  to enable and encourage children aged 5 to 14 to be digital creators and support their parents and teachers. We want to excite all children, whether they’re naturally inclined to learn to code or not, about the things they can make and do with code.            </p>
          </div>
          <div class="col-md-4 block right-border">
            <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
            <div class="why-us">
              <h4>our values</h4>
            </div>
            <p>
              We believe that if taught with a focus on creativity, learning to code will not only equip children with the technical skills they need to excel in the future, but will also teach them critical problem solving skills. There are many platforms on the market which advocate a very prescriptive approach to computer programming; however, without encouraging children to problem solve and realise their own ideas, they will never be properly equipped to work in a rapidly changing world which requires adaptive and innovative thinkers.

              We believe that children are most motivated to learn digital skills and code when those skills support something they want to make.
            </p>
          </div>
          <div class="col-md-4 block">
            <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
            <div class="why-us">
              <h4>our services</h4>
            </div>
            <p>
              blue{shift} is West London’s premier provider of coding and robotics instruction and teaching and assessment materials. We were started in 2013  with the aim of teaching children aged 5 to 14 a creative approach to coding.

              We run after-school clubs at a growing roster of schools, workshops and camps. Our courses have looked at everything from designing wearables to 3D printing to creating VR experiences with code.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="mainContent full-width clearfix">
      <div class="row">
        <div class="col-sm-4 col-xs-12 block no-padding">
          <div class="media eventContent bg-color-5">
            <div class="media-body story" style="width:100%;">

            </div>
          </div>
        </div>
        <div class="col-sm-8 col-xs-12 block no-padding">
          <div class="media eventContent bg-color-8">
            <div class="media-body keep-up-to-date">
              <div class="col-md-9">
                <div class="why-us">
                  <h1 style="text-align: left">
                    the blue{shift} story
                  </h1>

                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pharetra

                  massa, sit amet varius nibh iaculis vel. Morbi sed nulla sed sapien vehicula egestas

                  a ac erat. Nam at mattis elit. Integer quam lorem, pretium vitae fringilla sed,

                  convallis sit amet mauris. Quisque a metus a lorem maximus aliquam sit amet quis

                  urna. Ut ut lorem ut turpis rutrum suscipit quis vitae leo. Donec feugiat

                  ullamcorper euismod. Quisque interdum malesuada egestas.
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pharetra

                  massa, sit amet varius nibh iaculis vel. Morbi sed nulla sed sapien vehicula egestas

                  a ac erat. Nam at mattis elit. Integer quam lorem, pretium vitae fringilla sed,

                  convallis sit amet mauris.
                </p>
                <div class="footerInfo">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email address" aria-describedby="basic-addon21">
                    <button type="submit" class="input-group-addon" id="basic-addon21">Go!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mainContent full-width clearfix testimonialArea">
      <div class="container">
        <div class="row testimonial-grid">
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-1">
              <span class="userSign border-color-1"><i class="fa fa-quote-left color-1" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-2">
              <span class="userSign border-color-2"><i class="fa fa-quote-left color-2" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-3">
              <span class="userSign border-color-3"><i class="fa fa-quote-left color-3" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-4">
              <span class="userSign border-color-4"><i class="fa fa-quote-left color-4" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-5">
              <span class="userSign border-color-5"><i class="fa fa-quote-left color-5" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-6">
              <span class="userSign border-color-6"><i class="fa fa-quote-left color-6" aria-hidden="true"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- COLOR SECTION -->
    <section class="colorSection full-width clearfix bg-color-6 commentSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="owl-carousel commentSlider">
              <div class="slide">
                <div class="commentContent text-center">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
                  <h3>Amanda Smith</h3>
                  <p>Sarah’s Father</p>
                </div>
              </div>
              <div class="slide">
                <div class="commentContent text-center">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
                  <h3>Amanda Smith</h3>
                  <p>Sarah’s Father</p>
                </div>
              </div>
              <div class="slide">
                <div class="commentContent text-center">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
                  <h3>Amanda Smith</h3>
                  <p>Sarah’s Father</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- WHITE SECTION -->
    <section class="whiteSection full-width clearfix testimonialArea">
      <div class="container">
        <div class="row testimonial-grid">
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-1">
              <span class="userSign border-color-1"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/1.jpg" alt="img" class="img-circle img-responsive"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-2">
              <span class="userSign border-color-2"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/2.jpg" alt="img" class="img-circle img-responsive"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-3">
              <span class="userSign border-color-3"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/3.jpg" alt="img" class="img-circle img-responsive"></i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-4">
              <span class="userSign border-color-4"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/4.jpg" alt="img" class="img-circle img-responsive"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-5">
              <span class="userSign border-color-5"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/5.jpg" alt="img" class="img-circle img-responsive"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="testimonialContent  bg-color-6">
              <span class="userSign border-color-6"><img src="http://themes.iamabdus.com/kidz/1.1/img/testimonial/6.jpg" alt="img" class="img-circle img-responsive"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
