.filters {
  text-align:right;
  margin:0;
  padding:25px 0;
  border-top:2px solid #ceecee;
}
.dropdown.classes-filter, .filters-label {
  display:inline;
  margin:0 1em;
}
.filters-label {
  font-weight:bold;
}
.dropdown .btn {
  padding:6px 12px;

  border-radius:0;
  background-color:#c1aabe;
  color:white;
  border:none;
}
.btn.btn-default.active, .btn.btn-default:active, .open > .btn.dropdown-toggle.btn-default {
  background-color:#f5c644;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color:#f5c644;
}

.dropdown .caret {
  margin-left:5px;
  border-width: 8px;
  position:relative;
  top:-4px;
}


@media (min-width: 1024px) {
  .courseList .media-left img {
    max-width:320px;
  }
}

@media (min-width: 320px) {
  .courseList.couresListPage .media-left {
    margin:0;
    border-right:none;
    width:auto;
  }
}

.courseList.couresListPage .media-left {
  margin-bottom:25px;
}


.courseList {
  background-color:white;
  box-shadow: none;
  padding:24px;
  border-bottom:2px solid #ceecee;
}

.classes-results-all {
  border-top:2px solid #ceecee;
}

.courseList .media-left .sticker {
  width:100px;
  height:100px;
  display: table;
}

.courseList .media-left .sticker span {
  display:table-row;
}

.courseList .media-left .sticker span span {
  display:table-cell;
  vertical-align: middle;
  text-align: center;

  line-height:22px;
  font-size:15px;
}

.courseList .media-body .list-inline.btnPart > li button.btn-primary {
    font-size: 14px;
    background-color: #ffffff;
    color: #666666;
}

.courseList .modal-body {
	background-color:#f8f8f8;
}

.courseList .modal-footer button {
  display:none;
}

.courseList div.child-field input {
  margin-right:1em;
}

.courseList .form-group.order_id {
  display:none;
}

.courseList .media-body {
  padding: 0 20px 15px 20px;
}

.courseList .media-body p {
  color:#003366;
}

.courseList .media-body a, .courseList .media-body a:hover, .courseList .media-body a:visited, .courseList .media-body a:active {
  color:#003366;

  /* !important in the following line necessary to override the !important in style.css */
  text-decoration: underline !important;
}

.class-listing-buttons {
  margin-top:15px;
}

.courseList .media-body .list-inline.btnPart.class-listing-buttons .btn {
  border-radius: 0;
  box-shadow: none;
}

.courseList .media-body .list-inline.btnPart.class-listing-buttons .book-now-button {
  color:white;
}

.courseList .media-body .list-inline.btnPart.class-listing-buttons .read-more-button,
.courseList .media-body .list-inline.btnPart.class-listing-buttons .read-more-button:hover {
  background-color:#f0f2ea;
  color:#231f20;

  /* !important in the following line necessary to override the !important in style.css, and above in the .courseList .media-body a rule */
  text-decoration: none !important;
}

.courseList .media-body .media-heading a {
  line-height: 1.2em;
  margin-top:0;
  white-space:normal;
}



/* Class listings */

.class-display-price {
  float:right;
  font-weight:bold;
  margin:0;
  line-height: 1em;
  max-width: 25%;
}

.class-display-price:before {
  content: "Price: ";
}

.class-metadata {
  margin-bottom:15px;
}

.class-metadata-key:after {
  content:": ";
}

/* Allow the footers to extend beyond the bottom of the main content area (the region above the footer) */
.main-wrapper {
  overflow:visible;
}


/* Checkout / basket forms */

.add-to-basket-form .errors, .checkout-form .errors {
  color:red;
  font-weight: bold;
}

.add-to-basket-form .field-description, .add-to-basket-form dd.heading h5 {
  font-weight: bold;
  font-style: italic;
}

.add-to-basket-form .field-description {
  margin-top:5px;
}

.add-to-basket-form dt.heading {
  display:none;
}

.add-to-basket-form dd.heading h3, .add-to-basket-form dd.heading h4 {
  margin:0;
}

.add-to-basket-form dd.heading h3 {
  margin-top:25px;
}

.add-to-basket-form dd.heading h4 {
  margin-top:15px;
}

/* H5 is used as a field-description for name fields - see the other h5 rule above */
.add-to-basket-form dd.heading h5 {
  color:inherit !important;
  margin-top:0;
  margin-bottom:30px;
}

.add-to-basket-form dt {
  margin-top:8px;
}

.add-to-basket-form dd {
  margin-bottom:20px;
}

.add-to-basket-form dd.heading {
  margin-bottom:0;
}


.add-to-basket-form dt label {
  font-size:1.1em;
}

.add-to-basket-form dd label {
  margin-top:6px;
}

.add-to-basket-button-container button, .add-to-basket-button-container button:hover, .add-to-basket-button-container button:active {
  padding:12px;
  border:none;
  box-shadow: none;

  /* !important to override mysterious :active state when the button is being clicked */;
  background-color:#f0f2ea !important;
  color:#231f20;
  font-weight:bold;
}

.add-to-basket-form h1, .add-to-basket-form h2, .add-to-basket-form h3, .add-to-basket-form h4, .add-to-basket-form h5 {
  text-transform: none;
}

.add-to-basket-form input[type=text], .checkout-form input[type=text] {
  height:2em;
}


.courses-more-info-form {
  text-align:center;
  background-color:#c1aabe;
  padding:20px;
}

.courses-more-info-form h3 {
  margin:0;
  white-space: normal;
}

.courses-more-info-form p {
  color:black;
  font-size:16px;
}

.course-more-info-field, .courses-more-info-form p  {
  margin:10px 0;
}

.courses-more-info-form select {
  width:100%;
  color:white;

}
.course-more-info-text-field-with-inline-submit email-container {
  overflow: hidden;
  padding-right: .5em;
}

.course-more-info-text-field-with-inline-submit button {
  float:right;
  background-color:black;
  color:white;
  border:none;
}

.course-more-info-text-field-with-inline-submit button, .course-more-info-text-field-with-inline-submit input, .course-more-info-field select {
  font-size:14px;
  height:32px;
}

.course-more-info-text-field-with-inline-submit button {
  padding:0 4px;
}

.course-more-info-text-field-with-inline-submit div {
  overflow: hidden;
  padding-right: .5em;
}


/* Shopping basket */

.shopping-basket {
  width:100%;
}

.shopping-basket td {
  padding:5px 10px;
  text-align:center;
}

.shopping-basket img {
  max-width:100px;
}

.shopping-basket .quantity-field {
  width:50px;
}

.stripe-form {
  float:right;
}

.name-associated-with-basket-item {
  font-size:smaller;
}

.shopping-basket {

  /* Ensures rounded borders happen at the bottom of the table, and do not shrink the header */
  border-collapse:separate;
}

.shopping-basket thead th {
  background-color:#f5c644;
  color:white;
  padding:10px;
}

.shopping-basket thead th:first-child {
  border-top-left-radius: 10px
}

.shopping-basket thead th:last-child {
  border-top-right-radius: 10px
}

.shopping-basket th, .shopping-basket td {
  text-align: center;
}

.shopping-basket tbody td, .shopping-basket tfoot td {
  border:0px solid #dedede;
  border-bottom-width: 1px;
  padding:25px 0;
}

.shopping-basket tfoot td {
  font-weight:bold;
}

.shopping-basket .coupon-fields form {
  display: inline;
}

.shopping-basket .coupon-fields form .coupon-entry-field {
  width:100px;
  margin-right:5px;
}

.shopping-basket .coupon-fields form button {
  padding:0 5px;
}

.shopping-basket tbody td:first-child, .shopping-basket tfoot td:first-child {
  border-left-width:1px;
}

.shopping-basket tbody td:last-child, .shopping-basket tfoot td:last-child {
  border-right-width:1px;
}

.shopping-basket button.delete-item {
  border-radius:20px;
  padding:10px 15px;
  border:none;
  line-height:20px;
}

.shopping-basket tfoot td:first-child {
  border-bottom-left-radius: 10px;
}

.shopping-basket tfoot td:last-child {
  border-bottom-right-radius: 10px;
}

.checkout-button-container {
  text-align:right;
  margin:25px 0;
}

.checkout-button-container a.btn {
  padding:12px;

  border: none;
  box-shadow: none;
  background-color:#f0f2ea;
  color:#231f20;
  font-weight:bold;
}

.continue-shopping-button-container {
  text-align: right;
  text-decoration: underline;
}


/* Proceed-to-payment page */
.proceed-to-payment-button-container button, .proceed-to-payment-button-container button:active, .proceed-to-payment-button-container button:hover {
  padding:12px;

  border: none;
  box-shadow: none;
  background-color:#f0f2ea !important;
  color:#231f20;
  font-weight:bold;
}


/* Payment page */

#btn_payWithStripe, #btn_payWithStripe:hover {
  box-shadow: none;
}

#btn_payWithStripe.disabled, #btn_payWithStripe.disabled:hover {
  opacity:0.5;
  background-color:#f5c644;
}



/* Top menu */

.topList li:last-child i {
  width:100px;
}

.topList li:last-child i span {
  font-family:'Lato', sans-serif;
}