.filters {
  text-align:center;
  margin-bottom:50px;
}
.dropdown.classes-filter, .filters-label {
  display:inline;
  margin:0 1em;
}
.filters-label {
  font-weight:bold;
}
.dropdown .btn {
  padding:6px 12px;
}

@media (min-width: 1024px) {
  .courseList .media-left img {
    max-width:470px;
  }
}

@media (min-width: 1440px) {
  .courseList .media-left img {
    max-width:300px;
  }
}

.courseList .media-left .sticker {
  width:100px;
  height:100px;
  line-height:100px;
  font-size:15px;
}

.courseList .media-body .list-inline.btnPart > li button.btn-primary {
    font-size: 14px;
    background-color: #ffffff;
    color: #666666;
}

.courseList .modal-body {
	background-color:#f8f8f8;
}

.courseList .modal-footer button {
  display:none;
}

.courseList div.child-field input {
  margin-right:1em;
}

.courseList .form-group.order_id {
  display:none;
}


/* Class listings */

.class-display-price {
  float:right;
  font-weight:bold;
}

.class-display-price:before {
  content: "Price: ";
}

.class-metadata-key:after {
  content:": ";
}


/* Checkout / basket forms */

.add-to-basket-form .errors, .checkout-form .errors {
  color:red;
  font-weight: bold;
}

.courses-more-info-form {
  text-align:center;
  background-color:#c1aabe;
  padding:20px;
}

.courses-more-info-form h3 {
  color:white;
  margin:0;
  white-space: normal;
}

.courses-more-info-form p {
  color:black;
}

.course-more-info-field, .courses-more-info-form p  {
  margin:10px 0;
}

.courses-more-info-form select {
  width:100%;
}

.course-more-info-text-field-with-inline-submit button {
  float:right;
}

.course-more-info-text-field-with-inline-submit div {
  overflow: hidden;
  padding-right: .5em;
}


/* Shopping basket */

.shopping-basket {
  width:100%;
}

.shopping-basket td {
  padding:5px 10px;
  text-align:center;
}

.shopping-basket img {
  max-width:100px;
}

.shopping-basket .quantity-field {
  width:50px;
}

.stripe-form {
  float:right;
}

.name-associated-with-basket-item {
  font-size:smaller;
}

.shopping-basket thead th {
  background-color:#f5c644;
  color:white;
  padding:10px;
}

.shopping-basket tbody td, .shopping-basket tfoot td {
  border:0px solid #dedede;
  border-bottom-width: 1px;
  padding:25px 0;
}

.shopping-basket tfoot td {
  font-weight:bold;
}

.shopping-basket tbody td:first-child, .shopping-basket tfoot td:first-child {
  border-left-width:1px;
}

.shopping-basket tbody td:last-child, .shopping-basket tfoot td:last-child {
  border-right-width:1px;
}

.shopping-basket button.delete-item {
  border-radius:20px;
  padding:10px 15px;
  border:none;
  line-height:20px;
}

.checkout-button-container {
  text-align:right;
  margin:25px 0;
}

.checkout-button-container a.btn {
  padding:12px;
}

