.filters {
  text-align:center;

  /* Compensate for the top-padding on the maincontent */
  /* TODO:WV:20170512:Improve this; */
  margin-top:-75px;
  margin-bottom:25px;
}
.dropdown, .filters-label {
  display:inline;
  margin:0 1em;
}
.filters-label {
  font-weight:bold;
}
.dropdown .btn {
  padding:6px 12px;
}