
<div class="row">
	<div class="col-xs-12 classes-results">

		{# Compile metadata into a hashtable #}
		{% set meta_data = {} %}
		{% for meta_datum in product.meta_data %}
			{% set _dummy = meta_data.update({meta_datum.key: meta_datum.value|strip}) %}
		{% endfor %}

		{# Get age-range colour and text, from the metadata #}
		{% set age_range_data = {'color': 4, 'text': ''} %}
		{% if meta_data.age_group %}
			{% set _dummy = age_range_data.update({'text': meta_data.age_group}) %}
			{% set ages = meta_data.age_group|integers %}
			{% if ages == '56' %}
				{% set _dummy = age_range_data.update({'color': 1}) %}
			{% elif ages == '78' %}
				{% set _dummy = age_range_data.update({'color': 2}) %}
			{% elif ages == '910' %}
				{% set _dummy = age_range_data.update({'color': 3}) %}
			{% else %}
				{% set _dummy = age_range_data.update({'color': 4}) %}
			{% endif %}
		{% endif %}

		{% set product_url = '/class/'+product.slug %}

		<div class="media courseList couresListPage">
			<a class="media-left border-color-{{ age_range_data.color }}" href="{{ product_url }}">
				<img class="media-object" src="{{ product.images[0].src }}" alt="Image">
				{% if age_range_data.text %}
					<span class="sticker bg-color-{{ age_range_data.color }}">{{ age_range_data.text }}</span>
				{% endif %}
			</a>
			<div class="media-body">

				<div class="class-display-price color-{{ age_range_data.color }}">
					{% if meta_data.price_for_display %}
						{{ meta_data.price_for_display }}
					{% elif product.price %}
						&pound; {{ product.price }}
					{% endif %}
				</div>

				<h3 class="media-heading"><a href="{{ product_url }}" class="color-{{ age_range_data.color }}">{{product.name}}</a></h3>

				<div class="class-metadata">
					<ul>
					{% if meta_data.class_location %}
						<li>
							<strong class="class-metadata-key">Location</strong><span class="class-metadata-value">{{ meta_data.class_location }}</span>
						</li>
					{% endif %}
					{% if meta_data.class_times %}
						<li>
							<strong class="class-metadata-key">Times</strong><span class="class-metadata-value">{{ meta_data.class_times }}</span>
						</li>
					{% endif %}
					{% if meta_data.difficulty %}
						<li>
							<strong class="class-metadata-key">Difficulty</strong><span class="class-metadata-value">{{ meta_data.difficulty }}</span>
						</li>
					{% endif %}
					{% if meta_data.class_date %}
						<li>
							<strong class="class-metadata-key">Dates</strong><span class="class-metadata-value">{{ meta_data.class_date }}</span>
						</li>
					{% endif %}
					</ul>
				</div>

				{% if description_type == 'short' %}
					{{product.short_description|safe}}
				{% else %}
					{{product.description|safe}}
				{% endif %}

				<ul class="list-inline btn-yellow btnPart class-listing-buttons">
					<li>
						<form action="/cart" method="POST">
							<input type="hidden" name="product_id" value="{{ product.id }}" />
							<button class="btn btn-primary book-now-button bg-color-{{ age_range_data.color }}">Book now</button>
						</form>
					</li>
					<li>
						<a href="{{ product_url }}" class="btn btn-primary read-more-button">Read more</a>
					</li>
				</ul>

			</div>
		</div>

	</div>
</div>
