{% set option_key = option_key_prefix ~ '-' ~ option.id %}
<div class="form-group {{ option_class }} {% if is_child_field %}child-field{% endif %}">

	{% if not is_child_field or (option.type != 'Variable' and option.type != 'Date') %}
		<label for="{{ option_key }}">{{ option.label }}</label>
	{% endif %}

	{% if option.type == 'Group' %}
		<div class="form-inline">
			{% for option in option.fields %}
				{% set is_child_field = True %}
				{% include 'pages/classes/option-field.html' %}
				{% set is_child_field = False %}
			{% endfor %}
		</div>
	{% endif %}

	{% if option.type == 'FixedList' %}
		<select {% if option.required %}required{% endif %} class="form-control" id="{{ option_key }}" data-option-id="{{option.id}}">
			<option></option>
			{% for option_value in option.get('values') %}
				<option value="{{option_value.id}}" {% if option_value.is_default %}selected{% endif %}>{{option_value.label}}</option>
			{% endfor %}
		</select>
	{% endif %}
	{% if option.type == 'Variable' or option.type == 'Date' %}
		<input {% if option.required %}required{% endif %} type="text" {% if is_child_field %}placeholder="{{ option.label }}"{% endif %} class="form-control {% if option.type == 'Date' %}date-picker {% if option.restrictions and 'weekdays-only' in option.restrictions %}weekdays-only{% endif %}  {% endif %}" id="{{ option_key }}" data-option-id="{{option.id}}" name="{{ option.label }}" />
	{% endif %}
</div>